body {
  margin: 0px;
  background-image: url("./foto20a.jpg");
}
ul {
  text-align: right;
}
nav ul li {
  display: inline;
  padding: 20px;
}
nav ul li a {
  color: rgb(252, 248, 248);
  text-decoration: none;
}
.password {
  padding: 20px;
}
.password p {
  color: white;
  margin: 0;
}
.button {
  margin: 0;
  padding: 20px;
  display: inline;
}

.reg {
  margin: 0;
  padding: 20px;
  border: white;
  display: none;
}
.reg p {
  color: white;
  margin: 0;
}
.push {
   margin: 5px;
   padding: 30px;
  left: 5px;
}
